@model SEPPokemon4.Models.Pokemon

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbilityOne" class="control-label"></label>
                <input asp-for="AbilityOne" class="form-control" />
                <span asp-validation-for="AbilityOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbilityTwo" class="control-label"></label>
                <input asp-for="AbilityTwo" class="form-control" />
                <span asp-validation-for="AbilityTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbilityHidden" class="control-label"></label>
                <input asp-for="AbilityHidden" class="form-control" />
                <span asp-validation-for="AbilityHidden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderMale" class="control-label"></label>
                <input asp-for="GenderMale" class="form-control" />
                <span asp-validation-for="GenderMale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderFemale" class="control-label"></label>
                <input asp-for="GenderFemale" class="form-control" />
                <span asp-validation-for="GenderFemale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvolutionNo" class="control-label"></label>
                <input asp-for="EvolutionNo" class="form-control" />
                <span asp-validation-for="EvolutionNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvolutionPosNo" class="control-label"></label>
                <input asp-for="EvolutionPosNo" class="form-control" />
                <span asp-validation-for="EvolutionPosNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvoultionPathsNo" class="control-label"></label>
                <input asp-for="EvoultionPathsNo" class="form-control" />
                <span asp-validation-for="EvoultionPathsNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvolutionPathsTotal" class="control-label"></label>
                <input asp-for="EvolutionPathsTotal" class="form-control" />
                <span asp-validation-for="EvolutionPathsTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
